<h1>Listing orders</h1>

<table>
  <thead>
    <tr>
      <th>Order status</th>
      <th>Means of payment</th>
      <th>Shipping address</th>
      <th>City of shipping</th>
      <th>First name buyer</th>
      <th>Second name buyer</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= order.order_status %></td>
        <td><%= order.means_of_payment %></td>
        <td><%= order.shipping_address %></td>
        <td><%= order.city_of_shipping %></td>
        <td><%= order.first_name_buyer %></td>
        <td><%= order.second_name_buyer %></td>
        <td><%= link_to 'Show', order %></td>
        <td><%= link_to 'Edit', edit_order_path(order) %></td>
        <td><%= link_to 'Destroy', order, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Order', new_order_path %>
