<p id="notice"><%= notice %></p>

<p>
  <strong>Order status:</strong>
  <%= @order.order_status %>
</p>

<p>
  <strong>Means of payment:</strong>
  <%= @order.means_of_payment %>
</p>

<p>
  <strong>Shipping address:</strong>
  <%= @order.shipping_address %>
</p>

<p>
  <strong>City of shipping:</strong>
  <%= @order.city_of_shipping %>
</p>

<p>
  <strong>First name buyer:</strong>
  <%= @order.first_name_buyer %>
</p>

<p>
  <strong>Second name buyer:</strong>
  <%= @order.second_name_buyer %>
</p>

<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
